.group {
  width: 290px;
  margin: 0 auto 10px;
  display: grid;
  grid-template-columns: 175px 112px;
}

.input-field {
  background: black;
  padding-left: 10px;
  color: white;
}
.select-currency {
  background: black;
  padding: 15px;
  background: none;
  background-color: black;
  border: 0;
  color: white;
}